<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">
    <h1>ASCII ART</h1>
    <form action="/ascii-art/" method="POST">
        
        <!-- Text Input -->
        <div><textarea name="text" rows="20" cols="40" placeholder="Enter text..." required>{{.Text}}</textarea></div>

        <!-- Dropdown Select -->
        <select name="banner">
            {{range $i, $banner := .Banners -}}
            <option value={{$banner}} {{if eq $.Selected $i}}selected{{end}}>{{$banner}}</option>
            {{- end}}
        </select>

        <!-- Submit Button -->
        <button type="submit">Get Art</button>

    </form>
</div>
{{template "ascii-art-web.html" .Art}}

</body>
</html>