<div class="wrapper">
    <div class="container">
        <h1><a href="/">-ASCII ART WEB-</a></h1>
        <form action="/ascii-art/" method="POST">
            
            <!-- Text Input -->
            <div><textarea name="text" rows="15" cols="40" placeholder="Write something..." required>{{.Text}}</textarea></div>

            <!-- Dropdown Select -->
            <select name="banner">
                {{range $i, $banner := .Banners -}}
                <option value={{$banner}} {{if eq $.Selected $i}}selected{{end}}>{{$banner}} font</option>
                {{- end}}
            </select>

            <!-- Submit Button -->
            <button type="submit"><strong>Print ASCII Art</strong></button>

        </form>
    </div>
    <div class="terminal">
    <div>{{- printf "%s" .Art}}</div>
        {{.DownloadButton}}
    </div>
    
</div>