<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">
    <h1>ASCII ART</h1>
    <form action="/ascii-art/" method="POST">
        
        <!-- Text Input -->
        <div><textarea name="text" rows="20" cols="40" placeholder="Enter text..." required>{{.Text}}</textarea></div>

        <!-- Dropdown Select -->
        <select name="banner">
            <option value="standard" {{.Select.Standard}}>Standard</option>
            <option value="shadow" {{.Select.Shadow}}>Shadow</option>
            <option value="thinkertoy" {{.Select.Thinkertoy}}>Thinkertoy</option>
        </select>

        <!-- Submit Button -->
        <button type="submit">Get Art</button>

    </form>
</div>
<div class="terminal">
{{printf "%s" .Art}}
<span class="cursor"></span>
</div>

</body>
</html>