<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{.Meta}}
    <title>{{.Title}}</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    {{- .Content}}
<footer>© 2026 <a href="https://github.com/Lord-lami" target="_blank">Olamide Ifarajimi</a></footer>
</body>
</html>